
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.input-style {
  font-size: 1.5em;
  height: 2em;
  text-align: center;
}
.container {
  padding: 1.5em;
  border: 3px solid #c0c0c0;
  max-width: 60%;
  margin: 0 auto;
  border-radius: 1.5em;
}
.App-header {
  font-size: 4.5em;
  color: #c0c0c0;
}
.header-image {
  width: 1.5em;
}
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
